<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Me</title>
    <link rel="stylesheet" href="../styles/contact_me.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="left">
                <div class="contact_me">
                    <label for="contact">
                        Contact Me
                    </label>
                </div>
                <div class="looking">
                    <label for="looking">
                        Looking for a Software Developer?<br>
                        You found the best.
                    </label>
                </div>
                <div class="social_media">
                    <div class="google">
                        <img src="../images/google+_dark.png" alt="google+">
                    </div>
                    <div class="twitter">
                        <img src="../images/twitter_dark.png" alt="">
                    </div>
                    <div class="linkedIn">
                        <img src="../images/linkedin_dark.png" alt="">
                    </div>
                    <div class="instagram">
                        <img src="../images/instagram_dark.png" alt="">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="logo">
                    <div class="hacker">
                        <img src="../images/hacker.png" alt="hacker">
                    </div>
                </div>
                <div class="write">
                    <div class="write_label">
                        <div class="image">
                            <img src="../images/mail.png" alt="" srcset="">
                        </div>
                        <div class="image_label">
                            <label for="label">
                                Write to me a brief abstract about your project 
                                and I will <br> prepare for you a proposal within a period of 24 hours
                            </label>
                        </div>
                    </div>
                    <div class="upper">
                        <div class="name">
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="email">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="lower">
                        <div class="company">
                            <input type="text" name="company" placeholder="Company">
                        </div>
                        <div class="age_bracket">
                            <input type="text" name="age_bracket" placeholder="Age Bracket">
                        </div>
                    </div>
                    <div class="optional_label">
                        <label for="optional">
                            Optional
                        </label>
                    </div>
                    <div class="project_details">
                        <textarea name="project_details" placeholder="Project Details" cols="30" rows="10"></textarea>
                    </div>
                    <div class="drop_it">
                        <div class="file">
                            <img src="../images/files.png" alt="" srcset="">
                        </div>
                        <div class="drop_it_label">
                            <label for="drop">
                                YOU CAN UPLOAD YOUR FILES
                            </label>
                        </div>
                    </div>
                    <div class="btn">
                        <input type="button" value="Send">
                    </div>
                    <div class="last">
                        <label for="last">
                            sejhbhj ejkjdjksa saghgsahashkdsa ansjs asg
                        </label>
                    </div>
                </div>
            </div>
        </nav>
        <div class="lower">
            <div class="next_step">
                <div class="label_next">
                    <label for="next_step">
                         What will <br> be the next step?
                    </label>
                </div>
            </div>
            <div class="step_closer">
                <div class="closer">
                    <label for="closer">
                        You are one step closer <br> to build your perfect <br> product
                    </label>
                </div>
            </div>
            <div class="project_steps">
                <div class="vertical_images">
                    <div class="image">
                        <div class="btn1">
                            <button></button>
                            <div class="innnerbtn"></div>
                        </div>
                        <div class="btn2">
                            <button></button>
                        </div>
                        <div class="btn3">
                            <button></button>
                        </div>
                        <div class="btn4">
                            <button></button>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="proposal">
                        <label for="proposal">
                            <b>1. I will prepare a proposal</b><br>
                                its just a trial please ignore and <br> chill.. Its alican 
                        </label>
                    </div>
                    <div class="discuss">
                        <label for="discuss">
                            <b>2. Together we discuss it</b><br>
                            its just a trial please ignore and <br> chill.. Its alican 
                        </label>
                    </div>
                    <div class="building">
                        <label for="building">
                            <b>3. Lets start building</b><br>
                            its just a trial please ignore and <br> chill.. Its alican 
                        </label>
                    </div>
                    <div class="comlete">
                        <div class="complete_text">
                            <label for="complete">
                                <b>4. We complete the Project</b><br>
                                its just a trial please ignore and <br> chill.. Its alican 
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>