<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Profile</title>
    <link rel="stylesheet" href="../styles/Profile.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="photo">
                    <div class="photo_inner">
                        <img src="../images/foto.jpg" alt="" class="upper_section_image">
                    </div>
                </div>
                <div class="introduction">
                    <div class="search">
                        <input type="search" name="search" class="form-control" placeholder="&#61442;">
                    </div>
                    <div class="introduction_inner">
                        <label class="introduction_labels" >Hey I'm</label><br/>
                        <label class="introduction_labels"><b>SUNDAY ODONG</b></label><br/>
                        <label class="introduction_labels">Software Developer</label><br/>
                        <p>
                            In the field of Programming I would want in the next 1 year to achieve a level of 
                            a senior developer
                        </p>
                        <button><b>LET US TALK</b></button>
                    </div>
                    <div class="social_media">
                        <div class="twitter">
                            <a href="http://twitter.com" target="_blank">
                                <img src="../images/twiter_favicon.png" alt="twitter.com" class="social">
                            </a>
                        </div>
                        <div class="facebook">
                            <a href="http://facebook.com" target="_blank">
                                <img src="../images/favicon_facebook.png" alt="facebook.com" class="social">
                            </a>
                        </div>
                        <div class="google">
                            <a href="http://google.com" target="_blank">
                                <img src="../images/google+.png" alt="google+.com" class="social">
                            </a>
                        </div>
                        <div class="linkedIn">
                            <a href="http://linkedIn.com" target="_blank">
                                <img src="../images/linked_in.png" alt="linkedIn.com" class="social">
                            </a>
                        </div>
                        <div class="gmail">
                            <a href="https://gmail.com" target="_blank">
                                <img src="../images/favicon_gmail.png" alt="gmail.com" class="social">
                            </a>
                        </div>
                        <div class="instagram">
                            <a href="http://instagram.com" target="_blank">
                                <img src="../images/instagram.jpeg" alt="instagram" class="social">
                            </a>
                        </div>
                    </div>
                </div>
            <div class="menu">
                <div class="drop_down">
                    <button class="drop">Menu</button>
                    <div class="dropdown-content">
                        <a href="#">About</a>
                        <a href="#">Skills</a>
                        <a href="#">Experience</a>
                        <a href="#">Projects</a>
                        <a href="#">Contact me</a>
                        <a href="#">Gallary</a>
                        <a href="#">Pot Folio</a>
                      </div>
                </div>
            </div>
        </div>
        <div class="look">
            <div class="look_service">
                <label>
                    <b style="font-size:large;color: aliceblue">Have a look at my services</b>
                </label><br/>
                <label style="font-size: smaller;color: aliceblue">controllers operations and transmission</label>
            </div>
        </div>
        <div class="middle">
            <div class="education">
                <div class="education_foto">
                    <img src="../images/education.png" alt="education" class="lower_section_image">
                </div>
                <div class="education_text">
                    <br>
                    <label><b>Education</b></label><br>
                    <label style="font-size: smaller">
                        <a href="#">
                            The draft report/thesis which is based on candidate’s own work, 
                            has not submitted in Kyambogo University for a degree/diploma.
                        </a>
                    </label>
                </div>
            </div>
            <div class="experience">
                <div class="experience_foto">
                    <img src="../images/experience.jpeg" alt="experience" class="lower_section_image">
                </div>
                <div class="experience_text">
                    <br><label><b>Experience</b></label><br>
                    <label style="font-size: smaller"> 
                        <a href="#">
                            The draft report/thesis which is based on candidate’s own work, 
                            has not submitted in Kyambogo University for a degree/diploma.
                        </a>
                    </label>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="languages">
                <div class="language_foto">
                    <img src="../images/language_icon.png" alt="languages" class="lower_section_image">
                </div>
                <div class="language_text">
                    <br>
                    <label><b>Languages</b></label><br>
                    <label style="font-size: smaller">
                        <a href="#">
                            The draft report/thesis which is based on candidate’s own work, 
                            has not submitted in Kyambogo University for a degree/diploma.
                        </a>
                    </label>
                </div>
            </div>
            <div class="skills">
                <div class="skills_foto">
                    <img src="../images/skills.png" alt="skills" class="lower_section_image">
            </div>
            <div class="skills_text">
                <br><label><b>Skills</b></label><br>
                <label style="font-size: smaller">
                    <a href="#">
                        The draft report/thesis which is based on candidate’s own work, 
                        has not submitted in Kyambogo University for a degree/diploma.
                    </a>
                </label>
            </div>
            </div>
        </div>
    <div class="footer">
        <footer>
            <label>
                Copyright www.alicanodong@softearth.com-All Rights Reserved. Alican Web Resource.com 
            </label>
        </footer>
    </div>
    </div>
</body>
</html>